<a href="https://colab.research.google.com/github/adv555/Assets-manager-test/blob/main/PySpark/pyspark_hw_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 9.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=6dacb66fac4525da3495278bb41858039c009af96b4e0e42fcfe98335c35dc1c
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

# Task 1

В этом задании вам потребуется скачать вот этот [датасет](https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019?resource=download). Это все так же Топ-50 самых продаваемых книг на Amazon в период с 2009 по 2019 годы. 

**Требуется выполнить следующее:**
* Создать спарк сессию.
* Прочитать датасет в датафрейм.
* Используя только RDD вычислить среднюю цену всех книг, у которых рейтинг выше 4.7
* Построить гистограмму распределения рецензий (столбец Reviews).
* Построить матрицу корреляции для столбцов "User Rating", "Reviews" и "Price".
* Используя библиотеку seaborn построить парные графики (pairplots) столбцов "User Rating", "Reviews" и "Price".

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean
import pandas as pd

In [ ]:
# url = 'https://drive.google.com/file/d/1_8345ql1MxCyNnNjcFOn19BwreaoRuf9/view?usp=share_link'
# file_id=url.split('/')[-2]
# dwn_url='https://drive.google.com/uc?id=' + file_id
# books = pd.read_csv(dwn_url)
# books.head()

In [ ]:
dwn_url="/content/bestsellers with categories.csv"
books = pd.read_csv(dwn_url)
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [64]:
spark_session = SparkSession.builder.getOrCreate()
authors_df = spark_session.read.options(header=True).csv(dwn_url)

for col in authors_df.columns:
    authors_df = authors_df.withColumnRenamed(col, col.lower())

authors_df.printSchema()
authors_df.show()

root
 |-- name: string (nullable = true)
 |-- author: string (nullable = true)
 |-- user rating: string (nullable = true)
 |-- reviews: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- genre: string (nullable = true)

+--------------------+--------------------+-----------+-------+-----+----+-----------+
|                name|              author|user rating|reviews|price|year|      genre|
+--------------------+--------------------+-----------+-------+-----+----+-----------+
|10-Day Green Smoo...|            JJ Smith|        4.7|  17350|    8|2016|Non Fiction|
|   11/22/63: A Novel|        Stephen King|        4.6|   2052|   22|2011|    Fiction|
|12 Rules for Life...|  Jordan B. Peterson|        4.7|  18979|   15|2018|Non Fiction|
|1984 (Signet Clas...|       George Orwell|        4.7|  21424|    6|2017|    Fiction|
|5,000 Awesome Fac...|National Geograph...|        4.8|   7665|   12|2019|Non Fiction|
|A Dance with Drag...| George R. R. Martin|        4.4|  12643|   11|2011|    Fiction|
|A Game of Thrones...| George R. R. Martin|        4.7|  19735|   30|2014|    Fiction|
|A Gentleman in Mo...|         Amor Towles|        4.7|  19699|   15|2017|    Fiction|
|A Higher Loyalty:...|         James Comey|        4.7|   5983|    3|2018|Non Fiction|
|A Man Called Ove:...|     Fredrik Backman|        4.6|  23848|    8|2016|    Fiction|
|A Man Called Ove:...|     Fredrik Backman|        4.6|  23848|    8|2017|    Fiction|
|A Patriot's Histo...|    Larry Schweikart|        4.6|    460|    2|2010|Non Fiction|
|A Stolen Life: A ...|       Jaycee Dugard|        4.6|   4149|   32|2011|Non Fiction|
|A Wrinkle in Time...|   Madeleine L'Engle|        4.5|   5153|    5|2018|    Fiction|
|Act Like a Lady, ...|        Steve Harvey|        4.6|   5013|   17|2009|Non Fiction|
|Adult Coloring Bo...|Adult Coloring Bo...|        4.5|   2313|    4|2016|Non Fiction|
|Adult Coloring Bo...|  Blue Star Coloring|        4.6|   2925|    6|2015|Non Fiction|
|Adult Coloring Bo...|  Blue Star Coloring|        4.4|   2951|    6|2015|Non Fiction|
|Adult Coloring Bo...|Coloring Books fo...|        4.5|   2426|    8|2015|Non Fiction|
|  Alexander Hamilton|         Ron Chernow|        4.8|   9198|   13|2016|Non Fiction|
+--------------------+--------------------+-----------+-------+-----+----+-----------+
only showing top 20 rows

In [59]:
# Используя только RDD вычислить среднюю цену всех книг, у которых рейтинг выше 4.7

authors_df.filter(authors_df['user rating'] > 4.7).select(mean("price").alias("average price")).show()

+-----------------+
|    average price|
+-----------------+
|10.69832402234637|
+-----------------+

In [70]:
# Построить гистограмму распределения рецензий (столбец Reviews).

pandas_frame = authors_df.toPandas()

type(pandas_frame)

pandas.core.frame.DataFrame

In [ ]:
# Построить матрицу корреляции для столбцов "User Rating", "Reviews" и "Price".

In [60]:
# Используя библиотеку seaborn построить парные графики (pairplots) столбцов "User Rating", "Reviews" и "Price".

# Task 2

При выполнении этого задания разрешается использовать только **Spark SQL**

**Для датасета из предыдущего задания выполните следующее:**

* Найдите автора с самым высоким рейтингом.
* Найдите трех авторов с самым низким рейтингом.
* Определите какой автор получил наибольшее количество рецензий.
* Определите какой автор написал наибольшее количество книг за весь доступный в данных период.
* Определите какая книга жанра **"Fiction"** имеет самый маленький рейтинг.
* Определите какая книга жанра **"Non Fiction"** имеет самый высокий рейтинг.

# Task 3

* Постройте гистограмму среднего количества рецензий по годам. 
* В виде отдельной гистограммы визуализируйте количество книг жанра **"Fiction"** и **"Non Fiction"** за весь доступный период.